<!DOCTYPE html>
<html>
	
	<head> 
		<title> Bitly </title>
		<link rel="stylesheet" type="text/css" href="css/application.css" media="screen" />
	</head>
	
	<body style>
		<img id="baby_image" src="img/foxes-0a.jpg" alt="HTML5 Icon">

		<h1> Bitly </b></h1>

	<%=yield%>

	</body>
</html>